<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ig-empty","layout":{"type":"constrained"}} -->
<main class="wp-block-group ig-empty">
	<!-- wp:heading {"textAlign":"center","level":1} -->
	<h1 class="wp-block-heading has-text-align-center">404</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">お探しのページが見つかりませんでした。</p>
	<!-- /wp:paragraph -->
	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center"><a href="/">トップへ戻る</a></p>
	<!-- /wp:paragraph -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
